<MarketplaceDetails>
  <SmallAppTile>ParkingAppTile.png</SmallAppTile>
  <ScreenShots>WVGA1.png;WVGA2.png;WVGA3.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>WXGA1.png;WXGA2.png;WXGA3.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>W7201.png;W7202.png;W7203.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>